@font-face {
  font-family: 'oswaldregular';
  font-style: normal;
  font-weight: normal;
  src: url('http://fiesta4kids.com/sites/all/themes/zircon/fonts/oswald_regular/oswald-webfont.eot?#iefix') format('embedded-opentype'), url('http://fiesta4kids.com/sites/all/themes/zircon/fonts/oswald_regular/oswald-webfont.woff') format('woff'), url('http://fiesta4kids.com/sites/all/themes/zircon/fonts/oswald_regular/oswald-webfont.ttf') format('truetype'), url('http://fiesta4kids.com/sites/all/themes/zircon/fonts/oswald_regular/oswald-webfont.svg#oswaldregular') format('svg');
}
