// stylus -w mfiesta.styl -o mfiesta.css


naranja = #01AEF0;
celeste = #B91D98;
rosado = #ED1777;
selectBackground = #fd037a;
backgroundPage = #f8f9fa;
borderSearchHome = #e1e2e3;
menuFooterItem = #e5e6e7;
menuFooterItemColor =  #403737;
menuFooterItemBorder =  #b60e51;



body
	font-family: sans-serif !important;

h4
	&.text.blank.small
		font-size: 13px
		color #000
		font-weight: normal
		padding-left: 10px
		text-shadow none

li 
	&.orange
		background naranja
	&.blue
		background celeste
	&.pink
		background rosado

li.padb
	margin-bottom: 15px !important;
	border: none;
.type-home
	.ui-li 
		.ui-btn-inner 
			a
				&.ui-link-inherit
					padding: 0.5em 15px;
					font-weight: bold;
					text-shadow: none;
					font-family: sans-serif !important;
					font-size: 1.5em;


#block-search-form
	width: 100%


h1.page-title
	background:#f58c21;
	font-size:20px;
	color:#fff;
	text-align left
	text-transform: uppercase;
	&.pink
		background rosado
	&.blue
		background celeste


div.main-content
	padding 0px

.breadcrumb
	background rosado
	padding 5px
	a.ui-link
		color #fff !important
		text-decoration none
		text-transform uppercase
		font-size: 11px


h1.product-title
	color #fff
	font-size: 18px
	text-transform uppercase
	background celeste
	padding 5px
	margin 0


.product-content
	padding: 10px;
	background: #fff;
	color: #555;
	text-shadow: none;
	.subtitle
		color rosado
	.price
		color rosado
		font-weight: bold
		font-size: 23px
	p
		margin 0 
.back
	color #fff !important
	text-decoration none
	text-transform uppercase
	display: inline-block;
	background: rosado;
	width: 100%;
	text-align: center;
	padding: 10px;



#edit-title
	background: none repeat scroll 0% 0% #FFF;
	color: #333;
	text-shadow: none;
	width: 100%;
	margin 0 10px
	border-radius 0px
#edit-title-wrapper
	padding: 0;
	width: 95%;

.list
	#edit-title
		margin 10px 10px 0 10px

.logo
	position static !important
	span
		padding 0 !important
		border-radius 0



.img-custom
	display none

.type-home.mobile
	.main-content
		background #fff
	.views-submit-button
		display none

.mobile-search.page
.list
	.main-content
		background #fff



.simple-page
	.main-content
		background #fff
		color #333
	h1.title
		background rosado
		margin 0px
		padding 5px
		color #fff
		font-size: 20px
		text-transform uppercase
	.content 
		margin 0 10px 
		text-shadow none
	.field-name-field-image
		img
			width 100%

.nselect-form
	.nodes-selecteds
		border 0
	.content
		margin 0 10px 
	.fieldset-legend
		color rosado
		margin 10px 0
	.fieldset-wrapper
		margin-top 10px
	.node-selection-link
		display block !important

input.ui-input-text
textarea.ui-input-text
	background #fff
	color #000
	width 95% !important

.list
	.ui-content 
		.ui-listview-inset
			margin -11px 0px 1px 0px


.ui-footer 
	.ui-navbar 
		li 
			.ui-btn-up-a
				background #2E2E2E
			.ui-btn-active
				background linear-gradient(#5393C5, #6FACD5) repeat scroll 0% 0% #5393C5
			.ui-btn-inner
				border-top none
				border-bottom 1px solid #818181
				.ui-btn-text
					font-family 'arial'
					text-shadow none
					color menuFooterItemColor
					line-height 2em
					font-size 1.3em

.list 
	.ui-listview 
		li 
			background #e9e9e9
			&.ui-btn-active
				background: naranja;

.swipe 
	overflow: hidden;
	visibility: hidden;
	position: relative;

.swipe-wrap 
	overflow: hidden;
	position: relative;
	
.swipe-wrap > div 
	float:left;
	width:100%;
	position: relative;


#views-exposed-form-mobile-search-page
	input
		background url('../images/ico-lupa.png') no-repeat 95% #fff
	#edit-submit-mobile-search
	.views-submit-button
		display none

.mobile-search
	#views-exposed-form-mobile-search-page
		input
			margin 10px 0
	.ui-content 
		.ui-listview
			margin 0
	.content
		margin 0
	.views-exposed-widgets
		margin-bottom 0

.view-mobile-search 
	img
		float:left;
		margin-left:8px
	li 
		color: #000 !important; 
		text-shadow: none;
		background: #e9e9e9;
		width: 100%
		a
			color #333 !important

.product
	#views-exposed-form-mobile-search-page
		display none
  
.page
	.select-list
		background selectBackground
		padding 10px
		text-align center
		font-size 1em
		line-height 2em
		div
			display inline-block
			a
				color #fff !important
		.select-header
			color #fff
			text-shadow none
			font-weight normal
			padding-left 40px
			background url('../images/shoppingcart.png') no-repeat center left transparent
		.select-links
			padding-left 25px
			a
				text-decoration none
				text-shadow: none;
				text-transform: uppercase;
.ui-bar-a
	background none

.ui-grid-b
	.ui-btn-active
		a
		span
			background selectBackground
			display inline-block
			border-bottom 1px solid menuFooterItemBorder
			color #fff
	li
		span
			background menuFooterItem

.ui-grid-solo
	.ui-block-a a span span
		color #fff !important

.ui-btn-up-a
	background selectBackground